/*
Theme Name:   EsportsMx
Theme URI:    https://wp.dreamsengien.io
Description:  EsportsMx
Author:       Dreams Engine
Author URI:   https://wp.dreamsengien.io
Template:     iggy-type-0
Version:      2.0.0
License:      GNU General Public License v3 or later
License URI:  http://www.gnu.org/licenses/gpl-3.0.html
Tags:         two-columns, custom-background, custom-colors, custom-menu, featured-images, theme-options, threaded-comments, translation-ready
Text Domain:  EsportsMx
*/

#pinno-main-nav-top {
  display: block;
}

@media screen and (min-width: 960px) {
  #pinno-main-nav-top {
    display: none;
  }
}

.pinno-nav-small,
.pinno-fixed1,
.pinno-nav-small-fixed {
  top: -70px !important;
  display: block !important;
}

.pinno-fly-but-wrap span:nth-child(2),
.pinno-fly-but-wrap span:nth-child(3),
.pinno-fly-but-wrap span:nth-child(4) {
  width: 30px;
}

#pinno-feat2-wrap {
  margin-bottom: 60px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  #pinno-feat2-wrap {
    width: 1200px;
    float: unset;
  }
}

h4.pinno-widget-home-title {
  float: left;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
  width: 100%;
}

h3.pinno-feat1-pop-head:before,
h1.pinno-feat1-pop-head:before,
h4.pinno-widget-home-title:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 10px;
  background: #1f2936;
}

span.pinno-widget-home-title,
span.pinno-feat1-list-but,
.pinno-post-cat {
  transform: skewX(0deg) !important;
  background: none;
  color: #1f2936;
  padding: 0 0 0.75em 0;
  font-size: 1.2rem;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
}

#pinno-content-main p a:hover,
.pinno-post-add-main p a:hover {
  background: #1f2936;
  color: white;
}

span.pinno-post-cat {
  background: transparent;
  color: #1f2936;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
}

span.pinno-cd-cat.left.relative {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.pinno-nav-small-logo {
  line-height: 0;
  margin: 10px 20px 10px 0;
  height: 30px;
  max-width: 98px;
}

.pinno-nav-small-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#pinno-fly-logo img {
  line-height: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#pinno-comments-button {
  display: none;
}

/* main post styles */

.f4_module--one {
  background-color: #23252d;
  color: #fff;
}

.f4_module-wrap {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.f4_module--one--type2 .f4_module--one-article--second a {
  color: #fff;
  text-decoration: none;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--image--second {
  margin: 16px 16px 16px 8px;
  margin: 1rem 1rem 1rem 0.5rem;
}
.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module-resize--third {
  width: 100%;
  height: 225px;
}
.f4_module-resize--third {
  width: 100%;
  height: 232.25806px;
}

figure {
  margin: 0;
  padding: 0;
}

.f4_module-image--full {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: cover;
}

.lazyloaded {
  opacity: 1;
  transition: all 0.3s ease-in;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--right--second {
  -ms-flex: 2;
  flex: 2;
  padding: 16px;
  padding: 1rem;
  word-break: break-word;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--right--second
  h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-size: 2rem;
  line-height: 36px;
  line-height: 2.25rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

.f4_module--one--type2 .f4_module--one-article--second a {
  color: #fff;
  text-decoration: none;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--right--second
  .f4_module--one-article--right--second__except {
  font-size: 19.2px;
  font-size: 1.2rem;
}

.f4_metas {
  font-family: Noto Sans, Helvetica, Arial, sans-serif;
  font-size: 11.2px;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.7em 0;
}

.f4_module--one--type2 .f4_module--one-article--second {
  display: -ms-flexbox;
  display: flex;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--right--second
  .f4_module--one-metas--second
  span {
  display: block;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--right--second
  .f4_module--one-related--second
  h2 {
  margin: 16px 0;
  margin: 1rem 0;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--right--second
  .f4_module--one-related--second
  ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--right--second
  .f4_module--one-related--second
  ul
  li {
  margin-top: 4.8px;
  margin-top: 0.3rem;
}

.f4_module--one--type2 .f4_module--one-article--second a {
  color: #fff;
  text-decoration: none;
}

/* home post layout type 4 */

.f4_module--one--type4 .articles-list--type4 {
  display: -ms-flexbox;
  display: flex;
  padding: 22.4px 8px;
  padding: 1.4rem 0.5rem;
}

.f4_module--one--type4 .articles-list--type4 article {
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
}

.f4_module--one--type4 .articles-list--type4 .articles-list--type4__meta {
  padding: 0 16px;
  padding: 0 1rem;
}

.f4_module--one--type4 .articles-list--type4 h2 {
  margin: 0;
  padding-bottom: 3.2px;
  padding-bottom: 0.2rem;
  font-size: 17.6px;
  font-size: 1.1rem;
}

.f4_module--one--type4 .articles-list--type4 .articles-list--type4__meta span {
  font-size: 11.2px;
  font-size: 0.7rem;
  padding-top: 4.8px;
  padding-top: 0.3rem;
  display: block;
}

.f4_metas {
  font-family: Noto Sans, Helvetica, Arial, sans-serif;
  font-size: 11.2px;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.7em 0;
}

.f4_module--one--type4 .articles-list--type4--mobile {
  padding: 24px;
  padding: 1.5rem;
  display: none;
  overflow: hidden;
}

.f4_module--one--type4 .articles-list--type4 figure img {
  width: 213.33333px;
  height: 120px;
}

/* layout 5 styles */

.f4_module--one--type5 .f4_module-wrap {
  display: -ms-flexbox;
  display: flex;
  padding: 16px 8px;
  padding: 1rem 0.5rem;
}

.f4_module--one--type5 #module-f5__figure {
  background: #000;
}

/* .f4_module--one--type5 .f4_module-resize--third {
    width: 400px;
    height: 225px;
    position: relative;
} */

.f4_module-resize--third {
  width: 412.90323px;
  height: 232.25806px;
}
figure {
  margin: 0;
  padding: 0;
}

.f4_module--one--type5 .f4_module--one--type5__logo {
  padding-left: 32px;
  padding-left: 2rem;
}

.f4_module--one--type5 .f4_module--one--type5__cover {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.4s ease-out;
}

.f4_module--one--type5 .play-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  transform: translate(-50%, -50%);
  transition: all 0.1s linear;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
.play-button {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0zMjAgMjMyIDE1MCAxNTAiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiMwMDA7fS5zdDF7ZmlsbDojRkZGO29wYWNpdHk6LjU7fS5zdDJ7ZmlsbDojRkZGO308L3N0eWxlPjxjaXJjbGUgY2xhc3M9InN0MSIgY3g9Ii0yNDUiIGN5PSIzMDciIHI9Ijc0IiAvPjxjaXJjbGUgY2xhc3M9InN0MiIgY3g9Ii0yNDUiIGN5PSIzMDciIHI9IjYyIiAvPjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iLTI2NC4xIDMzOS41IC0yNjQuMSAyNzQuNSAtMjA3LjkgMzA3ICIvPjwvc3ZnPg==);
  border: none;
  height: 50px;
  width: 50px;
}

.iframe-responsive[src*="youtube"] {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  object-fit: inherit !important;
}

/* .f4_module--one--type5 .f4_module-resize--third {
    width: 400px;
    height: 225px;
    position: relative;
} */

/* ======================   NEW STYLES   ============  */

#pinno-main-nav-top {
  display: block;
  background-color: #4d00cf;
  padding: 10px 0 10px;
}
.pinno-nav-top-left .pinno-fly-but-wrap span {
  background-color: #fff;
}
.pinno-nav-top-right .pinno-nav-search-but {
  color: #fff;
}

a.pinno-nav-logo-reg img {
  max-height: 50px;
}

.pinno-nav-small {
  height: 50px !important;
}
body:not(.page-template-page-home) #pinno-main-nav-top {
  height: auto !important;
}
.pinno-feat2-bot-text h2,
h2 {
  font-weight: 600;
}
body.archive h1.pinno-feat1-pop-head {
  text-align: left;
}
span.pinno-widget-home-title,
body.archive h1.pinno-feat1-pop-head {
  font-weight: 700;
  font-size: 1.8em;
  color: #4d00cf;
  padding-bottom: 0;
}
span.pinno-widget-home-title:after,
body.archive h1.pinno-feat1-pop-head span:after {
  content: "";
  display: inline-block;
  background: #4d01cf;
  width: 95px;
  height: 26px;
  position: absolute;
  top: 2px;
  margin-left: 0.4em;
}
div#pinno-home-widget-wrap .pinno-widget-ad {
  margin-top: 50px;
}
.pinno-feat2-top-text {
  text-align: left;
  width: 100%;
  min-height: 100%;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 2em;
  float: none;
  background: #4d00cfa1;
}
.pinno-feat2-top-text-box {
  margin: 0 auto;
  height: 100%;
}
.pinno-feat2-top-text-wrap {
  padding: 0;
  width: 100%;
  height: 100%;
  background: none;
}
.pinno-feat2-bot-wrap h2 {
  font-weight: 400;
}
.pinno-vid-box-wrap {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  border: #0be6af solid thick;
  font-size: 20px;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
}
.pinno-vid-box-small {
  width: 50px;
  height: 50px;
  border-width: medium;
  color: #0be6af;
  padding-top: 0.2em;
  padding-left: 0.2em;
}
.pinno-vid-marg i {
  position: absolute;
  font-size: 2.3rem;
  top: 50%;
  left: 53%;
  margin: 0;
  transform: translate(-50%, -50%);
  color: #0fe7ae;
}
.pinno-widget-dark-feat-text.left.relative {
  width: 100%;
  background: #4d00cfc7;
  padding: 1em;
}
.pinno-widget-dark-main span.pinno-cd-cat.left.relative {
  color: #0fe7ae;
}
div#pinno-fly-wrap {
  background: #2f00768a;
  color: white;
}
#pinno-fly-wrap .pinno-fly-but-wrap span {
  background-color: white;
}
nav.pinno-fly-nav-menu ul li {
  border-bottom: white solid thin;
}
nav.pinno-fly-nav-menu ul li a {
  color: #fff;
}

.pinno-widget-dark-wrap span.pinno-widget-home-title {
  color: white;
}
.pinno-widget-dark-wrap span.pinno-widget-home-title:after {
  background: white;
}
#pinno_flex_widget-10 h4.pinno-widget-home-title:before,
#pinno_home_feat1_widget-6 h4.pinno-widget-home-title:before,
#pinno_flex_widget-11 h4.pinno-widget-home-title:before,
body.archive h1.pinno-feat1-pop-head:before,
h4.pinno-widget-home-title:before {
  display: none;
}

section#pinno_home_feat1_widget-6,
#pinno_home_feat_category_title-2,
#pinno_home_feat_category_title-3 {
  background: #efeff4;
  padding: 2.5em 0;
}

@media screen and (max-width: 599px) and (min-width: 480px) {
  .pinno-widget-dark-sub-img .pinno-vid-box-small {
    width: 50px !important;
    height: 50px !important;
    color: #0be6af;
    font-size: 1.2em !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }
}
/*===========  SIDEBAR =====*/
ul.pinno-feat1-list-buts li.active span.pinno-feat1-list-but {
  background: none;
  color: #000;
  font-weight: 700;
  font-size: 2.2em;
}
ul.pinno-feat1-list-buts li {
  text-align: center;
}
/* ==================            ESTILOS CATEGORY =============*/
.archive .pinno-feat1-feat-img {
  height: auto;
}
.pinno-feat1-feat-img img {
  left: auto;
  right: auto;
  position: relative;
}
.archive .pinno-widget-feat2-left-alt {
  width: 100%;
}
body.archive .pinno-feat1-feat-text.left.relative {
  width: 100%;
  position: relative;
  background: none;
  color: black;
  padding: 0;
  margin: 25px 0;
}
body.archive .pinno-feat1-feat-text.left.relative h2 {
  color: black;
}
body.archive .pinno-feat1-feat-text.left.relative p {
  color: #555;
}
body.archive .pinno-widget-feat2-left-cont span.pinno-cd-date {
  color: #777;
}
@media screen and (max-width: 1099px) and (min-width: 1004px) {
  body.archive .pinno-widget-feat2-left,
  body.archive .pinno-widget-feat2-left-alt {
    width: 100%;
  }
}
@media screen and (max-width: 899px) and (min-width: 768px) {
  body.archive .pinno-widget-feat2-left,
  body.archive .pinno-widget-feat2-left-alt {
    width: 100%;
  }
}
@media screen and (max-width: 659px) and (min-width: 600px) {
  body.archive .pinno-widget-feat2-left,
  body.archive .pinno-widget-feat2-left-alt {
    width: 100%;
  }
}
@media screen and (max-width: 767px) and (min-width: 660px) {
  body.archive .pinno-widget-feat2-left,
  body.archive .pinno-widget-feat2-left-alt {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) and (min-width: 1100px) {
  body.archive .pinno-widget-feat2-left,
  body.archive .pinno-widget-feat2-left-alt {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .archive .pinno-widget-feat2-left-alt {
    margin-top: 0 !important;
  }
  .archive .pinno-feat1-feat-text {
    width: 90%;
  }
}
/* ====================  ESRILOS POSTS   ====================*/
.pinno-drop-nav-title h4 {
  color: white;
}
#pinno-post-feat-img-wide #pinno-post-feat-img img {
  opacity: 1;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}
#pinno-post-feat-img-wide {
  overflow: visible;
  max-height: none;
  background: #fff;
}
div#pinno-post-feat-img:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(77 1 207 / 0.33);
  position: absolute;
  top: 0;
  left: 0;
}
#pinno-post-feat-text-wrap {
  position: relative;
  left: 0;
  bottom: 30%;
  width: 100%;
  color: black;
}
h1.pinno-post-title-wide {
  color: black;
  text-shadow: none;
  font-weight: 600;
}
.pinno-post-feat-text {
  width: 90%;
}
h3.pinno-post-cat {
  margin-top: 2em;
  margin-bottom: 0;
}
span.pinno-post-cat {
  color: #4d00cf;
  padding: 0;
  font-size: 1.1em;
}
span.pinno-post-cat:after {
  content: "";
  display: inline-block;
  background: #4d01cf;
  width: 100px;
  height: 100%;
  position: absolute;
  margin-left: 10px;
  top: 1px;
}
.pinno-post-feat-text span.pinno-post-excerpt {
  color: black;
}
.pinno-post-feat-text {
  max-width: none;
}
#pinno-post-feat-img-wide span.pinno-feat-caption {
  position: relative;
  top: 1em;
  bottom: auto;
}
@media screen and (max-width: 1099px) and (min-width: 1004px) {
  .pinno-post-feat-text-main .pinno-post-feat-text {
    width: 90%;
  }
}
@media screen and (max-width: 899px) and (min-width: 768px) {
  .pinno-post-feat-text-main .pinno-post-feat-text {
    width: 90%;
  }
}
@media screen and (max-width: 659px) and (min-width: 600px) {
  .pinno-post-feat-text-main .pinno-post-feat-text {
    width: 90%;
  }
}
@media screen and (max-width: 767px) and (min-width: 660px) {
  .pinno-post-feat-text-main .pinno-post-feat-text {
    width: 90%;
  }
}
@media screen and (max-width: 1199px) and (min-width: 1100px) {
  .pinno-post-feat-text-main .pinno-post-feat-text {
    width: 90%;
  }
}
@media screen and (max-width: 599px) and (min-width: 480px) {
  .pinno-post-feat-text-main .pinno-post-feat-text {
    width: 90%;
  }
}
@media screen and (max-width: 479px) {
  .pinno-post-feat-text-main .pinno-post-feat-text {
    width: 90%;
  }
}
/* ==================            ESTILOS PLUGIN CATEGROY =============*/
#pinno_home_feat_category_title-2 .pinno-main-box,
#pinno_home_feat_category_title-3 .pinno-main-box {
  display: flex;
  justify-content: space-between;
}
#pinno_home_feat_category_title-2 .pinno-widget-home-head,
#pinno_home_feat_category_title-3 .pinno-widget-home-head {
  width: 23.7%;
}
#pinno_home_feat_category_title-2 .pinno-widget-feat1-wrap.left.relative,
#pinno_home_feat_category_title-3 .pinno-widget-feat1-wrap.left.relative {
  width: 75%;
}
#pinno_home_feat_category_title-2 .pinno-widget-feat1-cont.left.relative a,
#pinno_home_feat_category_title-3 .pinno-widget-feat1-cont.left.relative a {
  width: calc(100% / 3);
  display: block;
}
#pinno_home_feat_category_title-2 .pinno-widget-feat1-cont.left.relative,
#pinno_home_feat_category_title-3 .pinno-widget-feat1-cont.left.relative {
  display: flex;
  justify-content: space-between;
}
#pinno_home_feat_category_title-2 .pinno-widget-feat1-bot-story.left.relative,
#pinno_home_feat_category_title-3 .pinno-widget-feat1-bot-story.left.relative {
  width: 95%;
  margin: 0;
  padding: 0;
}
#pinno_home_feat_category_title-2 h4.pinno-widget-home-title:before,
#pinno_home_feat_category_title-2 span.pinno-widget-home-title:after,
#pinno_home_feat_category_title-3 h4.pinno-widget-home-title:before,
#pinno_home_feat_category_title-3 span.pinno-widget-home-title:after {
  display: none !important;
}
#pinno_home_feat_category_title-2 h4.pinno-widget-home-title,
#pinno_home_feat_category_title-3 h4.pinno-widget-home-title {
  background: #4d01cf;
  margin-bottom: 9px;
  font-size: 1.2em;
}
#pinno_home_feat_category_title-2 span.pinno-widget-home-title,
#pinno_home_feat_category_title-3 span.pinno-widget-home-title {
  background: #efeff3;
  padding-right: 11px;
}
#pinno_home_feat_category_title-2 .pinno-widget-feat1-bot-text,
#pinno_home_feat_category_title-3 .pinno-widget-feat1-bot-text {
  margin: 1em 0 1.4em;
}
@media screen and (max-width: 768px) {
  .pinno-widget-feat1-bot-text h2 {
    font-weight: 700;
  }
  #pinno_home_feat_category_title-2 .pinno-main-box,
  #pinno_home_feat_category_title-3 .pinno-main-box {
    flex-flow: column;
  }
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-cont.left.relative,
  #pinno_home_feat_category_title-3 .pinno-widget-feat1-cont.left.relative {
    flex-flow: row wrap;
  }
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-wrap.left.relative,
  #pinno_home_feat_category_title-3 .pinno-widget-feat1-wrap.left.relative {
    width: 100%;
  }
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-cont.left.relative a,
  #pinno_home_feat_category_title-3 .pinno-widget-feat1-cont.left.relative a {
    width: 50%;
  }
  #pinno_home_feat_category_title-2
    .pinno-widget-feat1-cont.left.relative
    a:first-of-type,
  #pinno_home_feat_category_title-3
    .pinno-widget-feat1-cont.left.relative
    a:first-of-type {
    width: 100%;
  }
  #pinno_home_feat_category_title-2 .pinno-widget-home-head,
  #pinno_home_feat_category_title-3 .pinno-widget-home-head {
    width: 50%;
  }
}
@media screen and (max-width: 479px) {
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-cont.left.relative a,
  #pinno_home_feat_category_title-3 .pinno-widget-feat1-cont.left.relative a {
    width: 100%;
    display: block;
    clear: both;
    float: none;
  }
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-bot-story,
  #pinno_home_feat_category_title-3 .pinno-widget-feat1-bot-story {
    overflow: visible;
    height: auto;
  }
  #pinno_home_feat_category_title-2
    .pinno-widget-feat1-bot-img.left.relative
    img,
  #pinno_home_feat_category_title-3
    .pinno-widget-feat1-bot-img.left.relative
    img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-bot-img.left.relative,
  #pinno_home_feat_category_title-3 .pinno-widget-feat1-bot-img.left.relative {
    width: 100%;
    max-width: none;
  }
  body:not(.page-template-page-home) #pinno-main-nav-top,
  #pinno-main-nav-wrap div#pinno-main-nav-top {
    height: auto !important;
  }
}
@media screen and (max-width: 599px) {
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-cont.left.relative a,
  #pinno_home_feat_category_title-3 .pinno-widget-feat1-cont.left.relative a {
    width: 100%;
    display: block;
    clear: both;
    float: none;
  }
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-bot-story,
  #pinno_home_feat_category_title-3 .pinno-widget-feat1-bot-story {
    overflow: visible;
    height: auto;
  }
  #pinno_home_feat_category_title-2
    .pinno-widget-feat1-bot-img.left.relative
    img,
  #pinno_home_feat_category_title-3
    .pinno-widget-feat1-bot-img.left.relative
    img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
@media screen and (max-width: 599px) and (min-width: 480px) {
  body:not(.page-template-page-home) #pinno-main-nav-top,
  #pinno-main-nav-wrap div#pinno-main-nav-top {
    height: auto !important;
  }
}
@media screen and (max-width: 767px) and (min-width: 660px) {
  body:not(.page-template-page-home) #pinno-main-nav-top,
  #pinno-main-nav-wrap div#pinno-main-nav-top {
    height: auto !important;
  }
}
@media screen and (max-width: 1003px) and (min-width: 900px) {
  body:not(.page-template-page-home) #pinno-main-nav-top,
  #pinno-main-nav-wrap div#pinno-main-nav-top {
    height: auto !important;
  }
}
@media screen and (max-width: 899px) and (min-width: 768px) {
  body:not(.page-template-page-home) #pinno-main-nav-top,
  #pinno-main-nav-wrap div#pinno-main-nav-top {
    height: auto !important;
  }
}
@media screen and (max-width: 659px) and (min-width: 600px) {
  body:not(.page-template-page-home) #pinno-main-nav-top,
  #pinno-main-nav-wrap div#pinno-main-nav-top {
    height: auto !important;
  }
}

/*Footer*/

.align-items-center {
  align-items: center;
}

#pinno-foot-wrap {
  background: #000;
  width: 100%;
  padding: 1em 0 0.5em;
}
.new_footer {
  display: flex;
  max-width: 1200px;
  width: 90%;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
}
#pinno-foot-logo {
  height: auto;
  justify-content: flex-start;
  margin-bottom: 15px;
}
#pinno-foot-logo img {
  margin: 0;
  width: 175px;
  object-fit: cover;
  height: auto;
}
/*.new_footer p,
.new_footer a {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1;
  font-family: "Exo 2", sans-serif;
  text-align: right;
  display: block;
  text-transform: uppercase;
}*/
.new_footer a {
  color: #1f89a2;
  margin: 10px 0;
}
.new_footer a:hover {
  color: #fff;
}
.new_footer p {
  color: #888;
  text-transform: uppercase;
}
#pinno-foot-soc {
  margin: 0;
}
#pinno-foot-menu ul li {
  margin-bottom: 0;
  margin-left: 10px;
}
.right_foot p,
.left_foot p {
  border-bottom: #585858 solid 1px;
  display: block;
  padding: 0 0 0.5em 0;
  max-width: 250px;
}

.left_foot p,
.left_foot a {
  text-align: left;
  margin-top: 10px;
}
#pinno-foot-copy {
  width: 100%;
  border-top: white solid thin;
  padding-top: 0.4em;
  text-align: right;
  font-family: "Exo 2", sans-serif;
}
#pinno-foot-menu ul li a:after {
  content: "";
  display: inline-block;
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0 0 2px 10px;
}
#pinno-foot-menu ul li:last-of-type a:after {
  display: none;
}
@media screen and (max-width: 840px) {
  .new_footer {
    flex-flow: column;
  }
  .contact_hold p,
  .contact_hold a {
    text-align: center;
    margin: 1em auto;
  }
}