.md-trigger.i--d-action {
  display: none;
}

.f4_module--two__article {
  margin: 1rem 2rem 1rem 0;
}

.f4_module-resize-width--third {
  width: 49%;
}

.f4_module--two__articles {
  -ms-flex: 2;
  flex: 2;
}

.f4_module--two {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.f4_module--two__list-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 1em;

  @media screen and (min-width: 768px) {
    flex: 2;
  }

  .f4_module--two__article {
    margin: 0;

    a {
      display: block;
      text-decoration: none;
      color: #000;
    }

    .f4_module--two__article__metas {
      margin-bottom: 0.5rem;
      font-size: 0.7rem;
      padding-top: 0.5rem;

      span {
        display: block;

        a {
          display: inline;
          margin: 0;
        }
      }

      span:nth-child(2) {
        padding-top: 0.4rem;
        font-weight: bold;
      }
    }
  }
}

.dest__article {
  width: 100%;
  margin: 0 0 1em;
  figure {
    width: 100%;
    height: 100%;
  }
  &:first-child {
    width: 100%;
    figure {
      width: 100%;
      height: calc(720px / 2.75);
      margin: 0;
      @media screen and (min-width: 768px) {
        height: calc(720px / 2.25);
      }
      @media screen and (min-width: 1024px) {
        height: calc(720px / 1.75);
      }
    }
  }
  @media screen and (min-width: 768px) {
    width: 49%;
  }

  .f4_module--two__article__content--large__text.pinno-feat1-list-text {
    width: 100%;
  }
}

.dest__article__content {
  p {
    font-size: 0.9rem !important;
    line-height: 1.25em;
  }
  .f4_module__article__title {
    font-size: 1.5rem !important;
    padding: 0.4em 0;
  }
}

.f4_module--two__article--large {
  width: calc(((1280px / 3) * 2) + 1rem);
}

.f4_module--two__article__content--large {
  display: -ms-flexbox;
  display: flex;
}

.f4_module--two__article__content--large__img {
  margin: 0 2rem 1rem 0;
}

.f4_module--two__article__content--large__text {
  width: calc(1280px / 3);
  .f4_module__article__title {
    font-size: 1.75rem;
  }
  p {
    font-size: 1.15rem;
  }
}

.f4_module--two__aside {
  -ms-flex: 1;
  flex: 1;
  position: relative;
  .f4_module--two__aside__space {
    margin: 0 1em;
    @media screen and (min-width: 768px) {
      margin: 0 1em 0 0;
    }
  }
}

.f4_module--cover--video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
}

.f4_module--two__aside__article {
  margin: 0.8rem 0;
  display: flex;

  figure {
    width: 80px;
    height: 45px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .f4_module--two__aside__article__metas {
    padding-left: 16px;
    padding-left: 1rem;
    -ms-flex: 1;
    flex: 1;
  }
}

.f4_module--two__aside__video {
  margin: 0.7rem 0 2.9rem 0;

  figure {
    background-color: #000;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  img {
    position: absolute;
    top: 0;
  }

  h4 {
    background: #333;
    margin: 0;
    padding: 0.75rem;
    line-height: 1.5em;
    a {
      font-family: $fontMontserrat;
      font-size: 1.5rem;
      line-height: 0.25em;
      font-weight: 300;
      text-decoration: none;
      color: white;
    }
  }

  .f4_module__title {
    margin-bottom: 0.6rem;
  }
}

.f4_module-resize--third.home-aside-video {
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

/* Pick de populares */

.pop-picks__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.pop-picks__flipper {
  height: 14px;
  left: 50%;
  top: -webkit-calc(100% - 1px);
  top: calc(100% - 1px);
  -webkit-transform: translateX(-50%) rotateX(180deg);
  transform: translateX(-50%) rotateX(180deg);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  width: 18px;
  z-index: 2;
}

.pop-picks__nav-btn--active {
  color: #333;
  font-size: 18px;
}

.pop-picks__nav-btn {
  color: #737373;
  font: 600 14px Work Sans, sans-serif;
  font-size: 14px;
  position: relative;
  width: 50%;
  padding: 0.5em 0;
}

.pop-picks__nav-btn--active::after,
.pop-picks__nav-btn--active::before {
  background-color: #333 !important;
  width: -webkit-calc(50% - 14px) !important;
  width: calc(50% - 14px) !important;
}

.pop-picks__nav-btn::before {
  left: 0;
}

.pop-picks__nav-btn::after {
  right: 0;
}

.pop-picks__nav-btn::after,
.pop-picks__nav-btn::before {
  background-color: #e2e2e2;
  bottom: 0;
  content: ' ';
  height: 2px;
  position: absolute;
  -webkit-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
  width: -webkit-calc(50% - 8px);
  width: calc(50% - 8px);
}

.pop-picks__nav-btn--active .pop-picks__flipper {
  -webkit-transform: translateX(-50%) rotateX(0deg);
  transform: translateX(-50%) rotateX(0deg);
}

.pop-picks__nav-btn--active .pop-picks__square--left {
  left: -6px;
}

.pop-picks__nav-btn--active .pop-picks__square {
  background-color: #181716;
  height: 21px;
}

.pop-picks__square--left {
  left: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

.pop-picks__square {
  background-color: #e2e2e2;
  height: 12px;
  top: 0;
  width: 2px;
}

.pop-picks__flipper,
.pop-picks__square {
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.pop-picks__nav-btn--active .pop-picks__square--right {
  right: -6px;
}

.pop-picks__nav-btn--active .pop-picks__square {
  background-color: #181716;
  height: 21px;
}

.pop-picks__square--right {
  right: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}

.pop-picks__square {
  background-color: #e2e2e2;
  height: 12px;
  top: 0;
  width: 2px;
}

.pop-picks__flipper,
.pop-picks__square {
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.pop-picks__nav-btn--active .pop-picks__square--right {
  right: -6px;
}

.pop-picks__nav-btn--active .pop-picks__square {
  background-color: #181716;
  height: 21px;
}

.pop-picks__square--right {
  right: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}

.pop-picks__square {
  background-color: #e2e2e2;
  height: 12px;
  top: 0;
  width: 2px;
}

.pop-picks__flipper,
.pop-picks__square {
  position: absolute;
  transition: all 0.2s ease;
}

button {
  border: none;
  outline: none;
  padding: 0;
  background: none;
}

.pick-tab {
  display: none;
  margin: 0.5em 0;
  &.show {
    display: block;
  }
}

.f4_module--two__aside__article__time {
  font-size: 0.75rem;
  padding-top: 0.7em;
}
