.channel__content {
  margin: 24px 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;

  .channel__cards {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 728px) {
      width: 65%;
      margin: 0 1.75em 0 0;
    }

    .card {
      a,
      a:visited {
        color: #222;
      }

      .preview__overflow-wrapper {
        width: 100%;
        height: calc(720px / 3);
        display: block;
        position: relative;
        margin: 0 0 0.75em;

        @media screen and (min-width: 728px) {
          height: calc(720px / 2);
        }

        .preview__image {
          width: 100%;
          height: 100%;
          background-size: cover;
          display: block;
        }
      }
    }

    .card--large {
      width: 100%;
      display: block;
      position: relative;

      .card--large__title {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        a {
          font-size: 1.8rem;
          display: block;
          margin: 0;
          padding: 0;
          font-weight: 700;
          letter-spacing: -0.02em;
          line-height: 1.2;
          font-family: "Merriweather", sans-serif !important;
        }
      }

      h3.preview__eyebrows {
        text-align: center;
        display: block;
        a {
          font-size: 0.75rem;
          margin: 0;
          padding: 0 0.25em 0.25em;
          display: block;
          position: relative;
          font-family: Work Sans, sans-serif;
          font-weight: 400;
        }
      }

      .byline-stats--large {
        display: block;
        margin: 0 0 0.75em;
        text-align: center;
        padding: 0;
        width: 100%;
        font-family: Work Sans, sans-serif;
        font-weight: 400;
      }

      .byline__author-group {
        text-align: center;
        font-size: 0.75rem;
        display: block;
        margin: 0 0 0.75em;
        font-family: Work Sans, sans-serif;
        font-weight: 400;
      }

      h2.card__description {
        text-align: center;
        font-weight: 300;
        font-size: 0.9rem;
        margin: 0 0 0.75em;
        line-height: 1.25em;
      }
    }
  }

  .channel__column {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    position: relative;
    margin: 0.75em 0 0;

    .card--small {
      flex-flow: column wrap;
      width: 100%;
      position: relative;
      margin: 0.75em 0;
      padding: 0 0.75em 0 0;
      justify-content: space-between;
      display: flex;

      @media screen and (min-width: 728px) {
        width: calc(100% / 2);
      }

      h2.card__fl-logo {
        a {
          font-size: 0.75rem;
          margin: 0;
          padding: 0 0.25em 0.25em;
          display: block;
          position: relative;
          font-family: Work Sans, sans-serif;
          font-weight: 400;
        }
      }

      h3.h3--dense {
        display: block;
        margin: 0.25em 0;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: -0.02em;
        line-height: 1.2;
        font-family: "Merriweather", sans-serif !important;
      }

      p.body--dense.list--description {
        display: block;
        margin: 0.25em 0;
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 1.25em;
      }

      .preview {
        height: calc(720px / 3.5);
        width: 100%;
        display: block;
        position: relative;
        margin: 0 0 0.75em;
        padding: 0;

        .show-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-size: cover;
        }
      }
    }
  }
}

.channel__sidebar {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 728px) {
    width: 30%;
  }
}
